@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background-color: hsl(240, 73%, 65%);
  margin: 6% 15%;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: white;
  border-radius: 15px;
}

.illustrations {
  position: relative;
  right: 10%;
  bottom: 20%;
}

.pattern-desktop {
  position: absolute;
}

#pattern-mobile {
  display: none;
}

#woman-online-mobile {
  display: none;
}

.box-desktop {
  position: absolute;
  top: 40%;
}

.pattern-desktop img {
  width: 500px;
}

.quiz-paragraphs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 15px 10px;
  color: hsl(238, 29%, 16%);
}

.hidden {
  display: none;
}

.wrapper-arrows {
  cursor: pointer;
  margin-right: 10px;
}

.attribution {
  display: flex;
  justify-content: end;
  font-size: 15px;
  margin-top: 5rem;
  padding: 20px 15px;
}
