
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

  *{
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  body{
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
  }

 

.combine-images .pattern-desktop{
position: relative;
margin-top: 20px;
margin-left: 20px;

}

 .combine-images .box-desktop{
    position: absolute;
    bottom: 18rem;
    left: 0.1px;
}
    
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: white;
}

.question-division{
    margin-top: 10em;
}

.quiz-paragraphs{
   display: grid;
   grid-template-columns: 1fr 1fr;
   padding: 15px 0;
   color: hsl(238, 29%, 16%);
}

.hidden{
    display: none;
}

.wrapper-images{
    cursor: pointer;
}

.attribution{
    margin-top: 10rem;
    padding: 20px 15px;
}

footer{
    display: flex;
    justify-content: end;
    margin-top: 5rem;
    padding: 20px 15px;
    font-size: 15px;
}